.home {
    button
    {    
        width: 200px;
        height: 100px;

        span {
            @media screen and (min-width: 768px) {
                font-size: 1.3rem;
                font-weight: 200;
                line-height: 1.1;
            }
        }

        @media screen and (min-width: 460px) {
            + button {
                margin-left: 20px;
            }
        }
    }
}